#project-accordian-wrapper {
    box-shadow: rgb(0,0,0,0.4) 5px 5px 5px 10px;
    border: 1px solid black;
    margin: 2vw;
    padding: 2vw 3vw;
}

#project-accordian-card-wrapper {
    box-shadow: rgb(0,0,0,0.4) 0px 5px 10px;
    border: 1px solid black;
    margin-bottom: 3vw;
    padding: 1vw 3vw;
}

#project-accordian-card-wrapper > div:first-child {
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
}